:root {
    --canvas-width: 1px;
    --canvas-height: 1px;
}

html,
body {
    margin: 0;
}

*:not(canvas) {
    z-index: 1;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

div#ui-container {
    position: absolute;
}

div#management-training {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

div#management-training.active {
    display: block;
}

div#management-training > img.mouse-icon {
    display: none;
    position: absolute;
    left: 50vw;
    top: 78vh;
    transform: translate(-50%, -50%);
}

div#management-training > img.mouse-icon.active {
    display: inline;
}

div#management-training > img.mouse-icon.move.active {
    left: 45vw;
    animation: move-mouse 1s ease-in-out infinite alternate;
    -webkit-animation: move-mouse 1s ease-in-out infinite alternate;
}

div#management-training > img.cursor {
    display: none;
    position: absolute;
    left: 50vw;
    top: calc(var(--canvas-height) / 100 * 40 + ((100vh - var(--canvas-height)) / 2));
    max-width: calc(var(--canvas-width) / 100 * 7);
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}

div#management-training > img.cursor.touch-gestures {
    transform: translate(-30%, -50%);
    -webkit-transform: translate(-30%, -50%);
    -moz-transform: translate(-30%, -50%);
    -ms-transform: translate(-30%, -50%);
    -o-transform: translate(-30%, -50%);
}

div#management-training > img.cursor.active {
    display: block;
}

div#management-training > img.cursor.active.move {
    animation: move-cursor 1s ease-in-out infinite alternate;
    -webkit-animation: move-cursor 1s ease-in-out infinite alternate;
}

div#management-training > img#arrows {
    display: none;
    width: 40px;
    position: absolute;
    left: 50vw;
    top: calc(78vh - 40px);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

div#management-training > img.cursor.touch-gestures {
    top: calc(var(--canvas-height) / 100 * 70 + ((100vh - var(--canvas-height)) / 2));
    min-width: calc(var(--canvas-width) / 100 * 40);
}

div#management-training > img#arrows.active {
    display: block;
}

div#management-training > button#next {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 5vh;
    width: 100px;
    height: 40px;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

div#management-training > button#next.active {
    display: block;
}

@keyframes move-cursor {
    0% {
        left: calc(var(--canvas-width) / 100 * 25 + ((100vw - var(--canvas-width)) / 2));
    }
    25% {
        left: calc(var(--canvas-width) / 100 * 25 + ((100vw - var(--canvas-width)) / 2));
    }
    75% {
        left: calc(var(--canvas-width) / 100 * 75 + ((100vw - var(--canvas-width)) / 2));
    }
    100% {
        left: calc(var(--canvas-width) / 100 * 75 + ((100vw - var(--canvas-width)) / 2));
    }
}

@keyframes move-mouse {
    0% {
        left: calc(var(--canvas-width) / 100 * 35 + ((100vw - var(--canvas-width)) / 2));
    }
    25% {
        left: calc(var(--canvas-width) / 100 * 35 + ((100vw - var(--canvas-width)) / 2));
    }
    75% {
        left: calc(var(--canvas-width) / 100 * 65 + ((100vw - var(--canvas-width)) / 2));
    }
    100% {
        left: calc(var(--canvas-width) / 100 * 65 + ((100vw - var(--canvas-width)) / 2));
    }
}